{% extends "layout.html" %}
{% block content %}
<h1>API Wars</h1>
<div id="simple_text">
    A long time ago in a galaxy far, far away the students of Codecool got a Star Wars themed homework... let's see it.
</div><br>
<div id="content">
    <button class="btn btn-warning" id="previous">Previous</button>
    <button class="btn btn-warning" id="next">Next</button>
    <table class="table table-dark">
        <thead>
            <tr>
                <th cope="col">Name</th>
                <th cope="col">Diameter in km</th>
                <th cope="col">Climate</th>
                <th cope="col">Terrain</th>
                <th cope="col">Surface water percentage</th>
                <th cope="col">Population</th>
                <th cope="col">Residents</th>
            </tr>
        </thead>
        <tbody id="datas">
        </tbody>
    </table>
</div>

{% endblock %}
