{% extends "layout.html" %}
{% block content %}
<h1>API Wars</h1>
<div id="simple_text">
    A long time ago in a galaxy far, far away the students of Codecool got a Star Wars themed homework... let's see it.
</div><br>
<div id="content">
    <button class="btn btn-warning">Previous</button>
    <button class="btn btn-warning">Next</button>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Diameter in km</th>
                <th>Climate</th>
                <th>Terrain</th>
                <th>Surface water percentage</th>
                <th>Population in formatted way</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

{% endblock %}
